.skill {
    background: rgba(0, 0, 0, 0.726);
    padding: 25px;
    margin: 75px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(70, 70, 70, 0.25));
}

.skill div {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.skill img {
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(70, 70, 70, 0.24));
    
}

.skill h1 {
    font-size: 45px;
}

.skill p {
    font-size: 20px;
}

.skill img:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
    transition: all .6s;
}