.btn {
    background-color: #74FAC0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #010B28;
    color: aliceblue;
    transform: translateY(-7px);
    transition: all 0.5s;
}